
header{
	padding:20px;
	padding-top: 20px;
	background-color: #93C26D;
	text-align: center;
	font-size: 60px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-style: normal;
	color: white;
	margin: 20px;
}

article{
	background-color:#8cc959 ;
	padding: 30px;
	border:20px;
	margin:20px;
}

article p{
	color:white;
	font-size: 50px;
}

p{
	color:black;
	font-family: helvetica;
}
img{
	width: 2000px;
	margin: 30px 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 10px;
}

section header{
	background-color: white;
	color: #8cc959;
}

footer{
	text-align: center;
	font-size: 40px;
	color:white;
}

aside section{
	background-color: white;
}

aside section h4{
	background-color:#8cc959 ;
	font-size: 55px;
	text-align: center;
}

ul{
	color:black;
	list-style-type: none;
}

aside section img{
	width: 800px;
	margin:20px;
	padding: 20px;

}

#mypet{
	float: right;
	font-size: 50px;
	text-align: center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


table{
	max-width: 100%;
	background-color: white;
	font-size: 45px;
	width: 100%;
	clear:both;
	float:none;
	position:relative;
	text-align: center;

}

thead{

	font-size: 100px;

}

.answer{
	color: #8cc959;
	font-size: 50px;
}